body {
	background-image: url(images/background.jpg);
	font: 20px Arial,Helvetica, sans-serif;
}

#Home{

	border: 2px solid black;
	width: 900px;
	height: 500;

}


#Menu{
	background: #BDBDBD;
	padding: 15px;
	width: 875px;
	height: 400;

}


}