body {
	background-image: url(images/background.jpg);
	font: 23px Arial,Helvetica, sans-serif;
}

#home{

	width: 900px;
	height: 500;

}

h1{
	color: #424242;
	font-size: 1.5em;


}

p{

	font-size: 0.8em;
	font: Arial,Helvetica, sans-serif;

}
#menu{
	background: #B5B7B1;
	padding: 15px;
	width: 872px;
	height: 400;
	font: 20px Arial,Helvetica, sans-serif;
}

#content {

	padding: 20px;

}

.img-camp{

	border: 8px solid #A4A4A4;
}

a {

	color: #0B2161;
	text-decoration: none;
	font-weight: 900;
	padding: 10px;
	}

	footer{
		text-align: center;
		font-weight: 900;
		padding: 15px;
		font: 13px Arial,Helvetica, sans-serif;
	}