body {
	background-image: url(images/background.jpg);
	font: 23px Arial,Helvetica, sans-serif;
}

#home{

	width: 900px;
	height: 500;

}


#menu{
	background: #B5B7B1;
	padding: 15px;
	width: 872px;
	height: 400;

}

#content {

	padding: 20px;
	
}

a {

	color: #0B2161;
	text-decoration: none;
	font-weight: 900;
	padding: 10px;
	}